body{
    background-color: bisque;
    display: grid;
    gap: 4rem;
    margin: 4rem ;
}


.albumCover{
    max-height: 240px;
    position: relative;
    z-index: 5;
}

.vinyl{
    position: relative;
    left: -215px;
    top: -15px;
    z-index: 1;
}


.vinylAlbum:hover > .vinyl{
    animation: spin 2s forwards;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
        left: -215px;
    }
    to{
        transform: rotate(360deg);
        left: -110px;
    }
}

.albumCover--1{
    color: #fff;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 10px #0C7A11, 0 0 20px #0C7A11,
      0 0 40px #51ca0b, 0 0 50px #0C7A11;
}

.vinyl--1{
    color: #fff;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 10px #0C7A11, 0 0 20px #0C7A11,
      0 0 40px #51ca0b, 0 0 50px #0C7A11;
    border-radius: 50%;
}

.albumCover--2{
    color: #fff;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 10px #EF0D0D, 0 0 20px #EF0D0D,
      0 0 40px #EF0D0D, 0 0 50px #EF0D0D;
}

.vinyl--2{
    color: #fff;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 10px #EF0D0D, 0 0 20px #EF0D0D,
      0 0 40px #EF0D0D, 0 0 50px #EF0D0D;
    border-radius: 50%;
}
.albumCover--3{
    color: #fff;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 10px #E36BAC, 0 0 20px #E36BAC,
      0 0 40px #E36BAC, 0 0 50px #E36BAC;
}

.vinyl--3{
    color: #fff;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 10px #E36BAC, 0 0 20px #E36BAC,
      0 0 40px #E36BAC, 0 0 50px #E36BAC;
    border-radius: 50%;
}

.albumCover--4{
    color: #fff;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 10px #A9E61A, 0 0 20px #A9E61A,
      0 0 40px #A9E61A, 0 0 50px #A9E61A;
}

.vinyl--4{
    color: #fff;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 10px #A9E61A, 0 0 20px #A9E61A,
      0 0 40px #A9E61A, 0 0 50px #A9E61A;
    border-radius: 50%;
}

.albumCover--5{
    color: #fff;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 10px #ffffff, 0 0 20px #ffffff,
      0 0 40px #ffffff, 0 0 50px #ffffff;
}

.vinyl--5{
    color: #fff;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 10px #ffffff, 0 0 20px #ffffff,
      0 0 40px #ffffff, 0 0 50px #ffffff;
    border-radius: 50%;
}