@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body,html{
    width:100%;
    height: 100%;
  }
  body{
    margin:0;
    padding:0;
    background:#011248;
  }
  .bubbles{
    position:absolute;
    width:100%;
    height: 100%;
    z-index:0;
    overflow:hidden;
    top:0;
    left:0;
  }
  .bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background:#f1f1f145;
    border-radius:50%;
    opacity:0.5;
    animation: rise 10s infinite ease-in;
  }
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation-duration:8s;
  }
  .bubble:nth-child(2){
    width:20px;
    height:20px;
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
  }
  .bubble:nth-child(5){
    width:35px;
    height:35px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
  }
  .bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
  }
  .bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
  }
  .bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
  }
  @keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  }





/* header with waves */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.header {
	display: grid;
	background: #011248;
	min-height: 100vh;
	justify-content: center;
    padding-top: 100px;
}

.header__text {
	position: relative;
    text-align: center;
}



.headline {
	color: #70b5cf;
	font-size: 4rem;
	position: absolute;
	transform: translate(-50%, -50%);
    left: 50%;
}

.header__text h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #70b5cf;
}

.header__text h2:nth-child(2) {
	color: #1297cc;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}



/* little marine */
#ajerez {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9999;
  }
  #ajerez img {
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #7482A5;
    transition: border-radius 0.2s ease-in-out;
  }
  #ajerez img:hover {
    border-radius: 30%;
  }
 
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  .sea {
    margin: 0 auto 0 auto;
    
    overflow: hidden;
  }
  .sea .bubble {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #6bafca;
    opacity: 0.9;
    -webkit-animation: bubble1-h-movement 1s ease-in infinite, bubble1-v-movement 300ms ease-in-out infinite alternate, bubble-scale-movement 300ms ease-in-out infinite alternate;
            animation: bubble1-h-movement 1s ease-in infinite, bubble1-v-movement 300ms ease-in-out infinite alternate, bubble-scale-movement 300ms ease-in-out infinite alternate;
  }
  .sea .bubble:after {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #6bafca;
    opacity: 0.9;
  }
  .sea .bubble:after {
    top: -20;
    left: 100px;
    width: 9px;
    height: 9px;
  }
  .sea .circle-wrapper {
    position: relative;
    background: linear-gradient(#1297cc, #0878a4);
    width: 300px;
    height: 300px;
    margin: 10px auto 0 auto;
    overflow: hidden;
    z-index: 0;
    border-radius: 50%;
    padding: 0 50px 0 50px;
    border: 6px solid #35b8ec;
  }
  .sea .submarine-wrapper {
    height: 300px;
    width: 300px;
    padding: 30px 50px 30px 150px;
    margin: 0 auto 0 auto;
    -webkit-animation: diving 3s ease-in-out infinite, diving-rotate 3s ease-in-out infinite;
            animation: diving 3s ease-in-out infinite, diving-rotate 3s ease-in-out infinite;
  }
  .sea .submarine-wrapper .submarine-body {
    width: 150px;
    height: 80px;
    position: absolute;
    margin-top: 50px;
    left: 25px;
    background-color: #D93A54;
    border-radius: 40px;
    background: linear-gradient(#D93A54, #bc243d);
  }
  .sea .submarine-wrapper .submarine-body .light {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 40px 150px 40px;
    border-color: transparent transparent #70b5cf transparent;
    transform: rotate(-50deg);
    top: 40px;
    left: 99%;
  }
  .sea .submarine-wrapper .submarine-body .light:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 13px;
    border-radius: 5px;
    background-color: #d12844;
    margin-left: -10px;
  }
  .sea .submarine-wrapper .submarine-body .window {
    width: 37px;
    height: 37px;
    position: absolute;
    margin-top: 23px;
    right: 18px;
    background: linear-gradient(#1297cc, #0878a4 );
    border-radius: 50%;
    border: 3px solid #D93A54;
  }
  .sea .submarine-wrapper .submarine-body .window:after {
    content: "";
    position: absolute;
    margin-top: 3px;
    margin-left: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0.8;
    border-top: 3px solid white;
    transform: rotate(-45deg);
  }
  .sea .submarine-wrapper .submarine-body .engine {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 32px;
    left: 53px;
    background-color: #bc243d;
    border-radius: 50%;
    border: 5px solid #D93A54;
  }
  .sea .submarine-wrapper .submarine-body .engine:after, .sea .submarine-wrapper .submarine-body .engine:before {
    position: absolute;
    content: "";
    border-radius: 2px;
    background-color: white;
    -webkit-animation: spin 900ms linear infinite;
            animation: spin 900ms linear infinite;
    opacity: 0.8;
  }
  .sea .submarine-wrapper .submarine-body .engine:after {
    top: 8px;
    width: 20px;
    height: 4px;
  }
  .sea .submarine-wrapper .submarine-body .engine:before {
    left: 8px;
    width: 4px;
    height: 20px;
  }
  .sea .submarine-wrapper .helix {
    width: 30px;
    height: 70px;
    position: absolute;
    margin-top: 55px;
    left: 0;
    background-color: #D93A54;
    border-radius: 7px;
    background: linear-gradient(#D93A54, #bc243d);
  }
  .sea .submarine-wrapper .helix:after {
    content: "";
    position: absolute;
    margin-top: 5px;
    margin-left: 7px;
    width: 17px;
    height: 60px;
    border-radius: 3px;
    background-color: transparent;
    opacity: 0.8;
    background: linear-gradient(to bottom, #D93A54, #D93A54 50%, #e57a8c 50%, #e57a8c);
    background-size: 100% 20px;
    -webkit-animation: helix-movement 110ms linear infinite;
            animation: helix-movement 110ms linear infinite;
  }
  .sea .submarine-wrapper .hat {
    width: 65px;
    height: 25px;
    position: absolute;
    margin-top: 26px;
    left: 70px;
    background-color: #D93A54;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(#D93A54, #d72d49);
  }
  .sea .submarine-wrapper .hat .periscope {
    position: absolute;
    width: 7px;
    height: 20px;
    background-color: #D93A54;
    margin-top: -27px;
    margin-left: 32px;
    border-radius: 5px 5px 0 0;
  }
  .sea .submarine-wrapper .hat .periscope:after, .sea .submarine-wrapper .hat .periscope:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 7px;
    border-radius: 5px;
    background-color: #D93A54;
  }
  .sea .submarine-wrapper .hat .leds-wrapper {
    width: 53px;
    height: 13px;
    position: relative;
    top: 7px;
    left: 7px;
    background-color: #D93A54;
    border-radius: 10px;
    background: linear-gradient(#b3233a, #a21f35);
  }
  .sea .submarine-wrapper .hat .leds-wrapper .leds {
    position: absolute;
    margin-top: 4px;
    margin-left: 7px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    -webkit-animation: leds-off 500ms linear infinite;
            animation: leds-off 500ms linear infinite;
  }
  .sea .submarine-wrapper .hat .leds-wrapper .leds:after, .sea .submarine-wrapper .hat .leds-wrapper .leds:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
  }
  .sea .submarine-wrapper .hat .leds-wrapper .leds:after {
    margin-top: 0px;
    margin-left: 17px;
  }
  .sea .submarine-wrapper .hat .leds-wrapper .leds:before {
    margin-top: 0px;
    margin-left: 34px;
  }
  
  @-webkit-keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes leds-off {
    100% {
      opacity: 0.3;
    }
  }
  @keyframes leds-off {
    100% {
      opacity: 0.3;
    }
  }
  @-webkit-keyframes helix-movement {
    100% {
      background: linear-gradient(to bottom, #e57a8c 50%, #e57a8c, #D93A54, #D93A54 50%);
      background-size: 100% 20px;
    }
  }
  @keyframes helix-movement {
    100% {
      background: linear-gradient(to bottom, #e57a8c 50%, #e57a8c, #D93A54, #D93A54 50%);
      background-size: 100% 20px;
    }
  }
  @-webkit-keyframes diving {
    0% {
      margin-top: 5px;
    }
    50% {
      margin-top: 15px;
    }
    100% {
      margin-top: 5px;
    }
  }
  @keyframes diving {
    0% {
      margin-top: 5px;
    }
    50% {
      margin-top: 15px;
    }
    100% {
      margin-top: 5px;
    }
  }
  @-webkit-keyframes diving-rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(3deg);
    }
    75% {
      transform: rotate(-2deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes diving-rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(3deg);
    }
    75% {
      transform: rotate(-2deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @-webkit-keyframes bubble1-h-movement {
    0% {
      margin-left: 80%;
    }
    100% {
      margin-left: -100%;
    }
  }
  @keyframes bubble1-h-movement {
    0% {
      margin-left: 80%;
    }
    100% {
      margin-left: -100%;
    }
  }
  @-webkit-keyframes bubble2-h-movement {
    0% {
      margin-left: 65%;
    }
    100% {
      margin-left: -5%;
    }
  }
  @keyframes bubble2-h-movement {
    0% {
      margin-left: 65%;
    }
    100% {
      margin-left: -5%;
    }
  }
  @-webkit-keyframes bubble1-v-movement {
    0% {
      margin-top: 115px;
    }
    100% {
      margin-top: 160px;
    }
  }
  @keyframes bubble1-v-movement {
    0% {
      margin-top: 115px;
    }
    100% {
      margin-top: 160px;
    }
  }
  @-webkit-keyframes bubble2-v-movement {
    0% {
      margin-top: 115px;
    }
    100% {
      margin-top: 90px;
    }
  }
  @keyframes bubble2-v-movement {
    0% {
      margin-top: 115px;
    }
    100% {
      margin-top: 90px;
    }
  }
  @-webkit-keyframes bubble-scale-movement {
    0% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(0.9);
    }
  }
  @keyframes bubble-scale-movement {
    0% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(0.9);
    }
  }
  @-webkit-keyframes light-movement {
    0% {
      transform: rotate(-40deg);
    }
    50% {
      transform: rotate(-70deg);
    }
    100% {
      transform: rotate(-40deg);
    }
  }
  @keyframes light-movement {
    0% {
      transform: rotate(-40deg);
    }
    50% {
      transform: rotate(-70deg);
    }
    100% {
      transform: rotate(-40deg);
    }
  }