body {
    margin: 0;
    padding: 0;
}

.parallax {
    position: relative;
    height: 100vh;
    background-image: url(/images/band.PNG);
    background-repeat: no-repeat;
}

.parallax__image{
  /*  position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover; */
}
.parallax__image--back{
    animation: back linear both;
    animation-timeline: view(block);
    animation-range: contain 0% contain 80%;
}
@keyframes back{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    100%{
        transform: translateY(-50%);
        opacity: 1;
    }
}