@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@1&family=Covered+By+Your+Grace&family=Nunito:wght@200&family=Roboto&display=swap");

footer {
  display: flex;
  justify-content: space-around;
  color: rgba(116, 114, 114, 1);
}

.footer__icon {  
  max-width:  35px;
padding-bottom: -3%;
}

.footer__link {
 padding: -5%; 
}

.footer__text {
  margin-top: 0%;
}

.footer__icon:hover {
  opacity: 0.8;
  color: rgba(10, 160, 214, 1);
}

.footer__icon:active {
  opacity: 0.5;
}

