body {
    margin: 0;
}


/*HEADER*/
.header {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally within the header */
    padding: 10px; /* Add padding for spacing */
}
.logo, .bandmembers {
    max-width: 100%; /* Ensure images don't exceed container width */
    margin: 0 auto; /* Center the images horizontally */
}
.bandmembers {
    max-width: 60%; /* Adjust the max-width to make the bandmembers smaller */
}
@keyframes popOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .Who {
    margin-bottom: 100px;
    color: aliceblue;
    animation: popOut 2s infinite; /* Adjust the duration and other properties as needed */
  }
  


/*SECTION BREAKER*/
.section__breaker {
    position: relative;
    overflow: hidden;
    padding: 10px 0;
    box-sizing: border-box;
    &::before {
      content: "";
      display: block;
      background: rgb(0,0,0);
      background: linear-gradient(90deg, rgba(0,0,0,1) 0%,
       rgba(198,25,25,1) 25%,
        rgba(129,139,33,1) 50%,
         rgba(198,25,25,1) 75%,
          rgba(0,0,0,1) 100%);
      background-size: 25px;
      position: absolute;
      top: -1000px;
      left: -50px;
      bottom: -1000px;
      right: -50px;
      transform: rotate(45deg);
    }
    .content {
      background: #1e5799;
      height: 5px;
    }
  }


/*SONG #1 ENERGIA!*/
.energia {
    background: url(images/Energia/Energia-bg.png);
    background-size: 100%;
}
.title__energia {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    animation: jello 1s infinite;
}
@keyframes jello {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
.squatgif {
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imagegif-container {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    color: white;
}
  
.static-image,
.animated-image {
    width: 100px;
    padding: 25px;
    height: auto;
    transition: opacity 0.3s ease-in-out;
    border-radius: 100%;
}
  
.animated-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
  
.imagegif-container:hover .static-image {
    opacity: 0;
}
  
.imagegif-container:hover .animated-image {
    opacity: 1;
}
button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden; /* Ensure that the overflow won't affect the layout */
}



/*SONG #2 NO BORDERS*/
.noborders {
    background: url(images/NoBorders/NoBorders-bg.png);
    background-size: 100%;
}

.title__noborders {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}



/*Tablet*/
@media (min-width: 768px) {
    .energia {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .title__energia {
        grid-column-start: 2;
        
    }
    .squatgif {
        grid-column-start: 1;
    }
  }
  
  /*Desktop*/
  @media (min-width: 886px) {

  }
  