@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Lato:wght@700&family=Nunito:wght@200&display=swap");
body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Nunito", sans-serif;
}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #2b2b2b;
    color: #ffffff;
  }
  button-sort {
    background-color: #000000;
  }
}
.bodyLogin {
  background-image: url("Images/background_Index.jpg");
  background-size: cover;
}
main {
  display: grid;
}
/*dropdown menu til login*/
.dropdown {
  max-width: 104px;
  position: relative;
  width: 100%;
}

.dropdown__btn {
  background-color: transparent;
  font-size: 16px;
  width: 100%;
  border: none;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000000;
  transition: transform ease-in-out 0.3s;
}

.dropdown__content {
  list-style: none;
  position: absolute;
  top: 3.2em;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
  padding: 0px;
}

.dropdown__content li {
  background: transparent;
  border-radius: 0.5em;
  position: relative;
  left: 100%;
}

.dropdown__btn:focus + .dropdown__content li {
  left: 0;
}

.dropdown__btn:focus + .dropdown__content {
  visibility: visible;
}

.dropdown__content li:hover {
  background: #0aa0d6;
}

.dropdown__content li a {
  display: block;
  padding: 0.7em 0.5em;
  color: #000;
  margin: 0.1 0;
  text-decoration: none;
}
.dropdown__flag {
  max-width: 35px;
  max-height: 22px;
}
.dropdown__selection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo {
}
