body {
    font-family: 'Nunito', sans-serif;
}

.main__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*min-height: 80vh;*/
    margin: 0;
    position: relative;
}


.main__text--blue {
    font-size: 18px;
    color: rgba(10, 160, 214, 1);
    font-weight: normal;

}
.main__headline {
    font-size: 18px;
    color: rgba(10, 160, 214, 1);
    font-weight: bold;
}
.main__headline--margin {
   margin-left: 2%;
   margin-right: 2%;
}
.main__text--grey {
    font-size: 14px;
    color: rgba(154, 154, 154, 1);
}
.text__grey--medium {
    font-size: 16px;
}

/*headers*/
header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(9,160,213,1) 0%, rgba(6,29,72,1) 100%);
    min-height: 6.25em;
    margin: 0;
    color: whitesmoke;
    margin-bottom: 5%;

}
.header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.header__nav {
    display: flex;
    justify-content: space-evenly;
}
.header__button {
    color: rgba(218, 218, 218, 1);
    text-decoration: none;
    font-size: 1.125em;
}
.header__button:hover {
    color: whitesmoke;
    text-decoration: underline;
    font-weight: bold;
}
.header__button:active {
    color: whitesmoke;
    text-decoration: underline;
    font-weight: bold;
}
.header__second {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2%;
}
.header__headline--02 {
    text-align: center;
    flex-grow: 1;
}
.header__03 {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*headers*/



/*buttons*/
.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    border-radius: 50px;
    text-decoration: none;
    color: whitesmoke;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    height: 50px;
    font-size: 18px;
    margin-bottom: 5%;
}
.button--medium {
    background: linear-gradient(90deg, rgba(9,160,213,1) 0%, rgba(6,29,72,1) 100%);
    width: 216px;
}
.button--medium--white {
   width: 216px;
    color: rgba(154, 154, 154, 1);
    border: solid 1px rgba(6,29,72,1);
    font-weight: normal;
}
.button--small {
    background: linear-gradient(90deg, rgba(9,160,213,1) 0%, rgba(6,29,72,1) 100%);
    width: 136px;
}
.button--small--white {
    width: 136px;
    color: rgba(154, 154, 154, 1);
    border: solid 1px rgba(6,29,72,1);
    font-weight: normal;
}
.button--blue {
    background: linear-gradient(90deg, rgba(9,160,213,1) 0%, rgba(6,29,72,1) 100%);
    width: 330px;
}
.button--large {
    width: 330px;
    background-color: rgba(44, 45, 44, 1);
    color: whitesmoke;
}
/*buttons*/

.buttons__beside {
    display: flex;
    gap: 5%;
}

/*parcel_cards*/
.parcel__card {
    display: flex;
    flex-direction: column;
    border-left: solid 5px rgba(9,160,213,1);
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 2%;
    margin-top: 2%;
    max-width: 360px;
}
.parcelcard__info {
    display: flex;
    flex-direction: column;
    line-height: 1px;
}
.parcelcard__adress-info {
    display: flex;  
    justify-content: space-between;
}
.parcelcard__headline {
    font-size: 18px;
    color: rgba(9, 160, 213, 1);
    font-weight: bold;
    margin-bottom: 1%;
}
.parcelcard__parcelnumber {
    color: rgba(116, 114, 114, 1);
    font-size: 16px;
    margin-bottom: 1%;
}
.parcelcard__text-red {
    color: red;
    font-size: 14px;
}
.parcelcard__box-text {
    color: rgba(9, 160, 213, 1);
    font-size: 14px;
    margin-bottom: 1%;
    margin-right: 3%;
    min-width: 200px;
}
.parcelcard__city-text {
    font-size: 14px;
    color: rgba(116, 114, 114, 1);
    margin: 0;
}
.parcelcard__map {
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    justify-content: center;
    align-items: center;
}
.map__text {
    text-decoration: none;
    flex-grow: 1;
}
.parcelcard__arrow {
    display: flex;
    justify-content: flex-end;
    margin-top: -6%;
    margin-left: 8%;
}
/*parcel_cards*/

.voting__box {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    margin-bottom: 5%;
}
.main__box {
    min-width: 296px;
    min-height: 150px;
}
.voting__text {
    margin-bottom: 0;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 5px rgba(40, 201, 55, 1);
    border-radius: 360px;
    padding: 3%;
    margin: 10%;
    margin-bottom: 15%;
}
.checkbox a {
    display: flex;
    justify-content: center;
    align-items: center;
}




.main__img--background {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    max-height: 200px;
    max-width: 200px;
    background-color: rgba(0, 60, 114, 1);
    border-radius: 360%;
    margin: 2%;
}
.main__img {
    max-width: 150px;
    max-height: 150px;
}
.main__img-circle {
    width: 80%;
    border-radius: 360%;
    border: solid 1px rgba(9, 160, 213, 1);
}
.parcel__return {
    margin: 5%;
}
.bring__logo img{
    width: 80%;
    margin-bottom: 20%;
}
.main__parcel--img {
    border-radius: 10px;
}
.main__img--large {
    width: 80%;
    border-radius: 10px;
}
.parcel__map {
    margin-bottom: 5%;
}



footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: solid 1px  rgba(154, 154, 154, 1);
    padding: 2%;
    margin-top: 10%;
}
.footer__link {
    line-height: 1px;
    text-align: center;
    color: rgba(154, 154, 154, 1);
}

.footer__link a {
    color: rgba(154, 154, 154, 1);
    text-decoration: none;
}

.footer__link a:hover,
.footer__link a:active {
    color: rgba(9, 160, 213, 1);
}

.footer__link svg {
    fill: rgba(154, 154, 154, 1);
}

.footer__link:hover svg,
.footer__link:active svg {
    fill: rgba(9, 160, 213, 1);
}






/*footer
footer {
    display: flex;
    justify-content: space-around;
    color: rgba(116, 114, 114, 1);
  }
  
  .footer__icon {  
    max-width:  35px;
  padding-bottom: -3%;
  }
  
  .footer__link {
   padding: -5%; 
  }
  
  .footer__text {
    margin-top: 0%;
  }
  
  .footer__icon:hover {
    opacity: 0.8;
    color: rgba(10, 160, 214, 1);
  }
  
  .footer__icon:active {
    opacity: 0.5;
  }
  footer*/
  



  .loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }
  .loader__container--medium {
    height: 25vh;
  }
  .loader-container--small {
    height: 15vh;
  }
  .loader__small {
    border: 8px solid #f3f3f3;
    border-top: 8px solid rgba(9,160,213,1);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 1s linear infinite;
  }
 
  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid rgba(9,160,213,1);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
  }
 
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
